.kornyezetbarat-1 {
    background-color: hsl(100, 50%, 25%);
}

.kornyezetbarat-2 {
    background-color: hsl(100, 50%, 45%);
}

.kornyezetbarat-3 {
    background-color: hsl(100, 50%, 65%);
}

.kornyezetbarat-4 {
    background-color: hsl(100, 50%, 85%);
}